html,
body {
  line-height: 24px;
  width: 100%;
  
  height:100%;
}

main {
  background: #E0E0E0;
  width: 100%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom-width: 0px;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-bottom: 1px solid #e5e5e5;
}

label { color: #666; }
label:hover { color: #000; }
h2 { text-align: center; }
p { font-size: 13px; }
section { padding: 0 0 0 16px; text-align: left; }
th { background-color: #CCCCCC; }

table {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
}

hr {
  background-color: #E0E0E0;
  border: 0 none;
  color: #E0E0E0;
  height: 1px;
}

.cell { background: #E0E0E0; }

[class*="col-"] {float: left;}
.col-1 	{width: 8.333333%;}
.col-2 	{width: 16.666666%;}
.col-3 	{width: 25%;}
.col-4 	{width: 33.333333%;}
.col-5 	{width: 41.666666%;}
.col-6 	{width: 50%;}
.col-7 	{width: 58.333333%;}
.col-8 	{width: 66.666666%;}
.col-9 	{width: 75%;}
.col-10 {width: 83.333333%;}
.col-11 {width: 91.666666%;}
.col-12 {width: 100%;}

.row-1 	{height: 60px;}
.row-2 	{height: 100px;}
.row-3 	{height: 23%;}
.row-4 	{height: 234px;}
.row-5 	{height: 150px;}
.row-6 	{height: 55px;}
.row-7 	{height: 58.333333%;}
.row-8 	{height: 66.666666%;}
.row-9 	{height: 75%;}
.row-10 {height: 83.333333%;}
.row-11 {height: 91.666666%;}
.row-12 {height: 100%;}

.sensors{
  background: #99cc00;
  margin: 4px;
  display: inline-flex;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
  border: 0;
  box-shadow:none;
}

#alarmBox {
  display: none;
  border: 5px solid #000000;
  font-weight: bold;
  animation: blink .5s step-end infinite alternate;
  margin: 20px 5px 20px 5px;
  padding: 10px;
}

#progressbar{
  width: 100%;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #eee;
  position: relative;
  margin-right: 10px;
  z-index: 0;
}
#bar{background:#2bbed8;width:1%;height:33px;position:absolute;z-index:-1}
#labelProg{text-align:center;line-height:2.3;color:#000;}

@keyframes blink {
  50% {
    border-color: #ff0000;
  }
}

button:disabled, button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


.btn-primary {  
  width: 90%; 
  min-height: 50px; 
  text-transform: uppercase;
}

@media screen and (min-width: 32em) {
  .btn--full {
    max-width: 16em !important;
  }
}

#container {
  padding: 20px;
}

#calendar {
  margin: -31px 0 20px 0;
  position: relative;
  background-color: #E0E0E0;
  height: 30px;
}

#meteo {
  position: sticky;
  background-color: #E0E0E0;
  height: 35px;
}

.gpio {
    display: inline-block;
    padding: 10px 0px 0px 0px;
    color: #a7a7a7;
    line-height: 0px
}


.led-box {
  height: 30px;
  float: left;
}

.led-box p {
  font-size: 12px;
  text-align: center;
  margin: 1em;
}

.led-red-off {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-color: #F00;
  background-color: rgba(255, 10, 5, 1);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 2px, inset #441313 0 0 2px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.led-red-on {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-color: #F00;
  background-color: rgba(255, 10, 5, 0.2);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 2px, inset #441313 0 0 2px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.led-green-off {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-color: rgba(204, 255, 51, 1);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 2px, inset #304701 0 0 2px, #89FF00 0 2px 12px;
}

.led-green-on {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-color: rgba(204, 255, 51, 0.2);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 2px, inset #304701 0 0 2px, #89FF00 0 2px 12px;
}

/* Orange LED is ON when state is LOW */
.led-orange-on {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-color: rgba(204, 255, 51, 1);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 2px, inset #304701 0 0 2px, #89FF00 0 2px 12px;
}

.led-orange-off {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 209, 51, 0.2);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 2px, inset #867708 0 0 2px, #FFB400 0 2px 12px;
}


    #dbg, #input_div, #input_el {
      font-family: monaco;
      font-size: 12px;
      line-height: 13px;
      color: #AAA;
    }

    #dbg, #input_div {
      margin:0;
      padding:0;
      background-color: black;
      padding-left:4px;
    }

    #input_el {
      width:98%;
      background-color: rgba(0,0,0,0);
      border: 0px;
    }
    #input_el:focus {
      outline: none;
    }


/* The PIN Modal */
body.wrong {
  -webkit-animation: bg-red 1s ease-in;
  animation: bg-red 1s ease-in;
}

body.correct {
  -webkit-animation: bg-green 1.5s ease-in;
  animation: bg-green 1.5s ease-in;
}

/*Modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content */
.modal-content {
  margin: auto;
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#pin {
  background: #212121;
  width: 20em;
  min-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1em;
  border-radius: .3em;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  margin: auto;
  color: rgba(255, 255, 255, 0.2);
}

.dots {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 1em;
}

.dot {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.8em;
  width: 0.8em;
  height: 0.8em;
  -webkit-transform: scale3d(0.7, 0.7, 0.7);
  transform: scale3d(0.5, 0.7, 0.7);
}

.dot.active {
  -webkit-animation: growDot .1s ease;
  animation: growDot .1s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.dot.wrong {
  -webkit-animation: wrong .5s ease;
  animation: wrong .5s ease;
}

.dot.correct {
  -webkit-animation: correct .5s ease;
  animation: correct .5s ease;
}

#pin p {
  font-size: .8em;
}

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  margin: 1em 0;
  font-size: 16px;
}

.number {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  margin: 0.5em;
  border-radius: 2.5em;
  border: 2px solid rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 2.5em;
  font-weight: 400;
  font-size: 1.8em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.number:hover {
  color: rgba(255, 255, 255, 0.5);
}

.number:hover:before {
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.number:before {
  content: "";
  position: absolute;
  left: -2px;
  width: 2.5em;
  height: 2.5em;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 2.5em;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.number.grow:before {
  -webkit-animation: grow .2s ease;
  animation: grow .2s ease;
}

@-webkit-keyframes growDot {
  100% {
    background: white;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
}

@keyframes growDot {
  100% {
    background: white;
    -webkit-transform: scale3d(1.2, 0.9, 0.9);
    transform: scale3d(1.2, 0.9, 0.9);
  }
}

@-webkit-keyframes grow {
  50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes grow {
  50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes wrong {
  20% {
    background: crimson;
  }
  40% {
    -webkit-transform: translate(-15px, 0);
    transform: translate(-15px, 0);
  }
  60% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  80% {
    -webkit-transform: translate(-5px, 0);
    transform: translate(-5px, 0);
  }
}

@keyframes wrong {
  20% {
    background: crimson;
  }
  40% {
    -webkit-transform: translate(-15px, 0);
    transform: translate(-15px, 0);
  }
  60% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  80% {
    -webkit-transform: translate(-5px, 0);
    transform: translate(-5px, 0);
  }
}

@-webkit-keyframes correct {
  20% {
    background: limegreen;
  }
  40% {
    -webkit-transform: translate(0, -15px);
    transform: translate(0, -15px);
  }
  60% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  80% {
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
}

@keyframes correct {
  20% {
    background: limegreen;
  }
  40% {
    -webkit-transform: translate(0, -15px);
    transform: translate(0, -15px);
  }
  60% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  80% {
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
}

@-webkit-keyframes bg-red {
  50% {
    background: crimson;
  }
}

@keyframes bg-red {
  50% {
    background: crimson;
  }
}

@-webkit-keyframes bg-green {
  50% {
    background: limegreen;
  }
}

@keyframes bg-green {
  50% {
    background: limegreen;
  }
}